@font-face {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 300 600;
  src: 
  url(../fonts/Euclid\ Circular\ A\ Light.woff)
  format("woff"),
  url(../fonts/Euclid\ Circular\ A\ Bold.woff)
  format("woff");
}

:root {
  --roboto-regular-big: 400 50px/50px 'Roboto', sans-serif;
  --roboto-regular-medium: 400 25px/130% 'Roboto', sans-serif;
  --roboto-thin-medium: 100 25px/150% 'Roboto', sans-serif;
  --roboto-bold-medium: 700 25px/130% 'Roboto', sans-serif;
  --roboto-black-medium: 900 20px/normal 'Roboto', sans-serif;
  --roboto-regular-medium-second: 400 22px/150% 'Roboto', sans-serif;
  --roboto-regular-main: 400 18px/150% 'Roboto', sans-serif;
  --roboto-light-main: 300 18px/133% 'Roboto', sans-serif;
  --roboto-regular-buttons: 400 16px/30px 'Roboto', sans-serif;
  --roboto-light-small: 300 16px/normal 'Roboto', sans-serif;
  --roboto-regular-small: 400 15px/normal 'Roboto', sans-serif;
  --roboto-regular-small-second: 400 14px/150% 'Roboto', sans-serif;
  --roboto-bold-super-small: 600 12px/normal 'Roboto', sans-serif;
  --roboto-light-super-small: 300 10px/normal 'Roboto', sans-serif;

  --euclid-bold-big: 700 22px/normal 'Euclid Circular A', sans-serif;
  --euclid-light-medium: 300 16px/normal 'Euclid Circular A', sans-serif;

  --black: #292D32;
  --dark: #343A41;
  --dark-grey: #838383;
  --medium-grey: #B7B7B7;
  --grey: #D0D0D0;
  --light-grey: #EEEEEE;
  --grey-bg: #F2F2F2;
  --super-light-grey: #F9F9F9;
  --accent: #33A9FF;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
}

button {
  border: 0;
  background-color: transparent;
  margin-top: 57px;
}

.page-header {
  width: 100%;
}

.header-content,
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header-content {
  padding: 27px 0 27px;
}

.header-content,
.header__right-side,
.header__left-side,
.scroll-btn,
.advantages__list,
.news__header,
.contacts__content-wrapper,
.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.header__left-side,
.header-content {
  align-items: center;
}

.header__logo,
.header__search,
.scroll__text,
.scroll__icon,
.arrow {
  display: block;
}

.header__logo {
  width: 70px;
  height: 70px;
  margin-right: 60px;
}

.nav__list {
  display: flex;
  gap: 45px;
  margin-right: 50px;

  list-style-type: none;
}

.nav__item {
  font: var(--roboto-regular-small);
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: var(--black);
}

.header__search {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header__right-side {
  gap: 30px;
}

.icon__wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;

  border-radius: 50%;
  background-color: var(--super-light-grey);
  cursor: pointer;
}

.user__name-header {
  position: absolute;
  top: 11px;
  right: 70px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.burger-menu {
  display: none;
}

.items {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  font: var(--roboto-bold-super-small);
  background-color: var(--accent);
  color: var(--bg);
  border-radius: 50%;
}

.first-screen {
  display: flex;
  width: 100%;
  background-color: var(--grey-bg);
}

.first-screen__slider {
  position: relative;
  display: flex;
  align-items: flex-end;
  max-width: 1152px;
  padding-bottom: 159px;
  margin-left: auto;

  background-image: url(../img/firstscreen_bg.png);
  background-repeat: no-repeat;
  background-position: top 97px left 0;
  overflow: hidden;
}

.first-screen__slide {
  position: relative;
  width: 1151px;
  transition: all 0.5s ease-in-out;
}

.scroll-btn {
  flex-direction: column;
  align-items: center;
  height: 169px;
  margin-bottom: 2px;
}

.link {
  text-decoration: none;
}

.scroll__text {
  writing-mode: vertical-lr;
  font: var(--roboto-light-small);
  color: var(--dark-grey);
  transform: rotate(180deg);
}

.scroll__icon {
  width: 25px;
}

.first-screen__title {
  position: relative;
  z-index: 10;
  margin-left: 108px;
  margin-right: 560px;
}

.before-header {
  font: var(--roboto-light-main);
  color: var(--dark-grey);
  margin-bottom: 11px;
}

.title {
  font: var(--roboto-regular-big);
  color: var(--black);
}

.main__title {
  width: 430px;
  margin-bottom: 60px;
  line-height: normal;
}

.button,
.small__button {
  display: flex;
  align-items: center;
}

.button {
  gap: 17px;
  cursor: pointer;
}

.arr__circle {
  display: flex;
  justify-content: center;
  width: 55px;
  height: 55px;

  border-radius: 50%;
  background-color: var(--accent);
}

.arrow {
  width: 12px;
  vertical-align: middle;
}

.button__text {
  font: var(--roboto-regular-buttons);
  color: var(--black);
}

.first-screen__image {
  position: absolute;
  display: block;
  top: -183px;
  right: 30px;
}

.slider__dots {
  position: absolute;
  z-index: 10;
  right: 40px;
  display: flex;
  align-items: center;
  margin: 0 0 14px 480px;
  gap: 10px;
}

.dot {
  width: 5px;
  height: 5px;

  border-radius: 50%;
  background-color: var(--grey);
  cursor: pointer;
}

.active {
  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: var(--black);
}

.first-screen__special {
  display: flex;
  flex-direction: column;
  gap: 82px;
  max-width: 509px;
  padding: 321px 288px 163px 40px;

  background-color: var(--light-grey);
  background-image: url(../img/firstscreen_special.png);
  background-repeat: no-repeat;
  background-position: top -245px right -393px;
}

.special__title {
  width: 181px;
  font: var(--roboto-regular-medium);
  color: var(--black);
}

.arrow__big {
  width: 104.5px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 160px 0 180px;
}

.catalog__title {
  width: 388px;
  margin-right: 52px;
}

.catalog__text {
  width: 372px;
  margin: 29px 0 46px;

  font: var(--roboto-regular-main);
  color: var(--dark-grey);
}

.catalog__item {
  position: relative;
  display: block;
  width: 440px;
  height: 371px;
  padding: 40px;
  
  background-color: var(--super-light-grey);
  border-radius: 20px;
}

.catalog__item:nth-child(even) {
  background-color: var(--grey-bg);
}

.item__number {
  margin-bottom: 186px;
  font: var(--roboto-thin-medium);
  color: var(--black);
}

.item__counts {
  margin-bottom: 6px;
  font: var(--roboto-light-main);
  color: var(--dark-grey);
}

.item__title {
  font: var(--roboto-regular-medium);
  line-height: 150%;
  color: var(--black);
}

.item__image {
  position: absolute;
}

.item__1 {
  top: -10px;
  right: 13px;
}

.item__2 {
  top: -21px;
  right: 58px;
}

.item__3 {
  top: 81px;
  right: 26px;
}

.item__4 {
  top: 59px;
  right: 56px;
}

.item__5 {
  top: 38px;
  right: 30px;
}

.advantages {
  background-color: var(--grey-bg);
  background-image: url(../img/advantages_bg.png);
  background-repeat: no-repeat;
  background-position: left 6px top 165px;
}

.advantages__title {
  display: flex;
  padding: 87px 0 46px;
}

.advantages__image {
  margin: 0 0 48px -80px;
}

.advantages__title-content {
  display: inline-block;
  width: 518px;
  margin: 96px 0 0 -80px;
}

.advantages__text {
  margin: 37px 0 41px;

  font: var(--roboto-regular-main);
  color: var(--dark-grey);
}

.advantages__list {
  margin-top: -46px;
  padding-bottom: 46px;
}

.advantage__item {
  width: 330px;
  padding: 30px 29px 37px;

  border-radius: 18px;
  background-color: var(--black);
  background-image: url(../svg/advant_item_bg.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.item__icon {
  width: 70px;
  height: 70px;
  padding: 17px;

  background-color: var(--dark);
  border-radius: 10px;
}

.advantage__title {
  margin: 27px 0 10px;
  font: var(--euclid-bold-big);
  color: var(--bg);
}

.item__description {
  font: var(--euclid-light-medium);
  color: var(--medium-grey);
}

.news {
  padding: 177px 0 180px;
}

.news__header {
  align-items: flex-start;
}

.news__image {
  border-radius: 45px 0;
}

.news__description {
  width: 721px;
  margin: 30px 0 70px;

  font: var(--roboto-light-main);
  line-height: 150%;
  color: var(--dark-grey);
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.news__item {
  position: relative;
  width: 415px;
  margin-right: 25px;

  border-radius: 45px 0 45px 0;
  background-color: var(--bg);
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05);
}

.news__date {
  position: absolute;
  top: 65px;
  right: -25px;

  width: 50px;
  height: 97px;
  padding: 24px 13px;

  border-radius: 15px;
  background: var(--bg);
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.06);
}

.date__text {
  font: var(--roboto-black-medium);
}

.small__date {
  font: var(--roboto-light-super-small);
}

.news__item-description {
  position: relative;
  padding: 24px 20px 26px 30px;
  margin-top: -50px;

  background-image: url(../img/news_block.png);
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  border-radius: 0 0 45px 0;
}

.news__title {
  width: 268px;
  margin-bottom: 11px;

  font: var(--roboto-bold-medium);
  color: var(--black);
}

.description {
  position: relative;
  width: 365px;
  font: var(--roboto-regular-small-second);
}

.small__button {
  position: absolute;
  justify-content: center;
  bottom: 63px;
  right: 25px;
  width: 67px;
  height: 67px;

  border: 12px solid var(--bg);
  border-radius: 50%;
  background-color: var(--black);
  cursor: pointer;
}

.contacts {
  position: relative;
  padding: 347px 0 0 0;

  background-color: var(--grey-bg);
  background-clip: content-box;
  background-image: url(../img/contacts_bg.png);
  background-repeat: no-repeat;
  background-position: left 10px bottom 56px;
}

.contacts__wrapper {
  padding-bottom: 180px;
}

.contacts__content-wrapper {
  position: relative;
  width: 100%;
  margin: -346px auto 0;

  background-color: var(--super-light-grey);
  border-radius: 20px;
}

.contacts__content {
  position: relative;
  z-index: 5;
  width: 50%;
  padding: 100px 100px 106px;
}

.contacts__description,
.contacts__form-description {
  margin: 18px 0 48px;

  font: var(--roboto-light-small);
  line-height: 150%;
  color: var(--dark-grey);
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 44px;
}

.contacts__item:nth-child(2) {
  margin-bottom: 68px;
}

.contact__info {
  width: 358px;
  margin-left: 17px;
}

.contact__name {
  margin: 7px 0 7px;
  font: var(--roboto-light-main);
  color: var(--dark-grey);
}

.contact {
  font: var(--roboto-regular-medium-second);
}

.social__links {
  margin: 60px 0 0 3px;
  cursor: pointer;
}

.social__icon:first-child {
  margin-right: 15px;
}

.contacts__image {
  position: absolute;
  z-index: 2;
  top: 142px;
  left: 35%;
}

.contacts__form-wrapper {
  width: 50%;
  padding: 100px 129px;
  background-color: var(--black);
  border-radius: 0 20px 20px 0;
}

.contacts__form {
  position: relative;
  z-index: 5;
}

.white,
.contacts__form-description {
  color: var(--bg);
}

.contacts__form-description {
  margin-bottom: 65px;
}

.form__group {
  position: relative;
  margin-bottom: 52px;
}

.form__input {
  width: 434px;
  padding: 19px 23px 16px;

  background-color: var(--black);
  border-radius: 20px;
  border: 1.5px solid var(--super-light-grey);

  font: var(--roboto-light-main);
  color: var(--bg);
}

.form__input::placeholder {
  color: transparent;
}

.form__label {
  position: absolute;
  z-index: 6;
  top: -10px;
  left: 16px;
  display: inline-block;
  padding: 0 10px;
  font: var(--roboto-light-main);
  color: var(--grey-bg);
  background-color: var(--black);
}

.text-area {
  width: 434px;
  height: 143px;
  resize: none;
}

.page__footer {
  background-image: url(../img/footer_bg.png);
  background-repeat: no-repeat;
  background-position: right 0 top 148px;
}

.page__footer-nav {
  display: flex;
  padding: 60px 0 47px;
  gap: 181px;
}

.page__footer-nav > .logo {
  width: 112px;
  height: 112px;
  margin: 30px 10px 0 0;
}

.footer__nav-menu-wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 181px;
}

.footer__nav-title {
  margin-bottom: 15px;
  font: var(--roboto-regular-medium);
  line-height: normal;
}

.footer__nav-list {
  list-style-type: none;
}

.footer__nav-item {
  margin-bottom: 10px;
  font: var(--roboto-light-small);
}

.footer__contacts {
  align-items: center;
  padding: 21px 0;
  gap: 147px;
}

.footer__contacts > .contact__info {
  width: auto;
  margin-left: 0;
}

.footer__contacts > .contact__info .contact__name {
 margin-bottom: 11px;
}

.footer__contacts > .contact__info .contact {
  font: var(--roboto-regular-main);
}

.footer__contacts > .social__links {
  display: flex;
  padding: 25px 0 18px;
  margin: 0;
}

.user__menu {
  position: absolute;
  z-index: 20;
  top: 123px;
  right: 318px;
  width: 405px;

  border-radius: 20px;
  background-color: var(--bg);
  box-shadow: 0px 14px 75px rgba(0, 0, 0, 0.13);
}

.user__menu::after {
  content: "";
  position: fixed;
  top: 115px;
  right: 513px;
  display: block;
  width: 18px;
  height: 18px;

  border-radius: 2px;
  background: var(--bg);
  transform: rotate(45deg);
}

.user__menu-header,
.user__menu-item {
  border-bottom: 1px solid var(--grey-bg);
}

.user__menu-item:last-child {
  border-bottom: 0;
}

.user__menu-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.user__name,
.user__menu-item {
  font: var(--roboto-regular-medium-second);
  font-size: 20px;
  color: #000;
}

.user__menu-list {
  list-style-type: none;
}

.user__menu-item {
  margin-top: -1px;
  padding: 20px 29px;
}

.d-none {
  display: none;
}
