@font-face {
  font-family: "Trickster";
  font-weight: 300 600;
  src: 
  url(./fonts/Euclid\ Circular\ A\ Light.woff)
  format("woff"),
  url(./fonts/Euclid\ Circular\ A\ Bold.woff)
  format("woff");
}

:root {
  --roboto-regular-big: 400 50px/50px 'Roboto', sans-serif;
  --roboto-regular-medium: 400 25px/130% 'Roboto', sans-serif;
  --roboto-thin-medium: 100 25px/150% 'Roboto', sans-serif;
  --roboto-bold-medium: 700 25px/130% 'Roboto', sans-serif;
  --roboto-black-medium: 900 20px/normal 'Roboto', sans-serif;
  --roboto-regular-medium-second: 400 22px/150% 'Roboto', sans-serif;
  --roboto-regular-main: 400 18px/150% 'Roboto', sans-serif;
  --roboto-light-main: 300 18px/133% 'Roboto', sans-serif;
  --roboto-regular-buttons: 400 16px/30px 'Roboto', sans-serif;
  --roboto-light-small: 300 16px/normal 'Roboto', sans-serif;
  --roboto-regular-small: 400 15px/normal 'Roboto', sans-serif;
  --roboto-regular-small-second: 400 14px/150% 'Roboto', sans-serif;
  --roboto-bold-super-small: 600 12px/normal 'Roboto', sans-serif;
  --roboto-light-super-small: 300 10px/normal 'Roboto', sans-serif;

  --euclid-bold-big: 700 22px/normal 'Euclid Circular A', sans-serif;
  --euclid-light-medium: 300 16px/normal 'Euclid Circular A', sans-serif;

  --black: #292D32;
  --dark: #343A41;
  --dark-grey: #838383;
  --medium-grey: #B7B7B7;
  --grey: #D0D0D0;
  --light-grey: #EEEEEE;
  --grey-bg: #F2F2F2;
  --super-light-grey: #F9F9F9;
  --accent: #33A9FF;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
}

.page-header {
  width: 100%;
}

.header-content,
.container {
  width: 1415px;
  margin: 0 auto;
  padding: 27px 0 27px 17px;
  align-items: center;
}

.header-content,
.header__right-side,
.header__left-side,
.scroll-btn,
.advantages__list,
.news__header {
  display: flex;
  justify-content: space-between;
}

.header__left-side {
  align-items: center;
}

.header__logo,
.header__search,
.scroll__text,
.scroll__icon,
.arrow {
  display: block;
}

.header__logo {
  width: 70px;
  height: 70px;
  margin-right: 60px;
}

.nav__list {
  display: flex;
  gap: 45px;
  margin-right: 50px;

  list-style-type: none;
}

.nav__item {
  font: var(--roboto-regular-small);
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: var(--black);
}

.header__search {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header__right-side {
  gap: 30px;
}

.icon__wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;

  border-radius: 50%;
  background-color: var(--super-light-grey);
  cursor: pointer;
}

.items {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  font: var(--roboto-bold-super-small);
  background-color: var(--accent);
  color: var(--bg);
  border-radius: 50%;
}

.first-screen {
  display: flex;
  width: 100%;
  background-color: var(--grey-bg);
}

.first-screen__slider {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-grow: 3;
  max-width: 1133px;
  padding: 253px 0 158px;
  margin-left: auto;

  background-image: url(./img/firstscreen_bg.png);
  background-repeat: no-repeat;
  background-position: top 97px left 0;
}

.scroll-btn {
  flex-direction: column;
  align-items: center;
  height: 169px;
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
}

.scroll__text {
  writing-mode: vertical-lr;
  font: var(--roboto-light-small);
  color: var(--dark-grey);
  transform: rotate(180deg);
}

.scroll__icon {
  width: 25px;
}

.first-screen__title {
  position: relative;
  z-index: 10;
  margin-left: 108px;
}

.before-header {
  font: var(--roboto-light-main);
  color: var(--dark-grey);
  margin-bottom: 15px;
}

.title {
  font: var(--roboto-regular-big);
  color: var(--black);
}

.main__title {
  width: 430px;
  margin-bottom: 60px;
  line-height: normal;
}

.button,
.small__button {
  display: flex;
  align-items: center;
}

.arr__circle {
  display: flex;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin-right: 12px;

  border-radius: 50%;
  background-color: var(--accent);
}

.arrow {
  width: 12px;
  vertical-align: middle;
}

.button__text {
  font: var(--roboto-regular-buttons);
  color: var(--black);
}

.first-screen__image {
  position: absolute;
  display: block;
  top: 74px;
  right: 60px;
}

.slider__dots {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  margin: 0 0 11px 466px;
  gap: 10px;
}

.dot {
  width: 5px;
  height: 5px;

  border-radius: 50%;
  background-color: var(--grey);
}

.active {
  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: var(--black);
}

.first-screen__special {
  display: flex;
  flex-direction: column;
  gap: 82px;
  max-width: 509px;
  padding: 321px 288px 163px 40px;

  background-color: var(--light-grey);
  background-image: url(./img/firstscreen_special.png);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.special__title {
  width: 181px;
  font: var(--roboto-regular-medium);
  color: var(--black);
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 164px 0;
}

.catalog__title {
  width: 388px;
  margin-right: 52px;
}

.catalog__text {
  width: 372px;
  margin: 29px 0 46px;

  font: var(--roboto-regular-main);
  color: var(--dark-grey);
}

.catalog__item {
  position: relative;
  width: 440px;
  height: 371px;
  padding: 40px;
  
  background-color: var(--super-light-grey);
  border-radius: 20px;
}

.catalog__item:nth-child(even) {
  background-color: var(--grey-bg);
}

.item__number {
  margin-bottom: 186px;
  font: var(--roboto-thin-medium);
  color: var(--black);
}

.item__counts {
  margin-bottom: 2px;
  font: var(--roboto-light-main);
  color: var(--dark-grey);
}

.item__title {
  font: var(--roboto-regular-medium);
  line-height: 150%;
  color: var(--black);
}

.item__image {
  position: absolute;
  top: 38px;
  right: 30px;
}

.item__first {
  top: -10px;
  right: 13px;
}

.item__second {
  top: -21px;
  right: 58px;
}

.item__third {
  top: 81px;
  right: 52px;
}

.item__ford {
  top: 59px;
  right: 63.5px;
}

.advantages {
  background-color: var(--grey-bg);
  background-image: url(./img/advantages_bg.png);
  background-repeat: no-repeat;
  background-position: left 0 top 152px;
}

.advantages__title {
  display: flex;
  padding: 87px 0 46px;
}

.advantages__image {
  margin: 0 0 48px -80px;
}

.advantages__title-content {
  display: inline-block;
  width: 518px;
  margin: 96px 0 0 80px;
}

.advantages__text {
  margin: 37px 0 41px;

  font: var(--roboto-regular-main);
  color: var(--dark-grey);
}

.advantage__item {
  width: 330px;
  padding: 30px 22px 37px;

  border-radius: 18px;
  background-color: var(--black);
  background-image: url(./svg/advant_item_bg.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.item__icon {
  width: 70px;
  height: 70px;
  padding: 17px;

  background-color: var(--dark);
  border-radius: 10px;
}

.item__title {
  margin: 25px 0 13px;
  font: var(--euclid-bold-big);
  color: var(--bg);
}

.item__description {
  font: var(--euclid-light-medium);
  color: var(--medium-grey);
}

.news {
  padding: 172px 0 180px;
}

.news__image-wrapper {
  border-radius: 0 0 45px 0;
}

.news__description {
  width: 721px;
  margin: 25px 0 70px;

  font: var(--roboto-light-main);
  line-height: 150%;
  color: var(--dark-grey);
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
}

.news__item {
  position: relative;
  width: 415px;

  border-radius: 45px 0 45px 0;
  background-color: var(--bg);
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05);
}

.news__date {
  position: absolute;
  top: 65px;
  right: -25px;

  width: 50px;
  height: 97px;
  padding: 24px 10px;

  border-radius: 15px;
  background: var(--bg);
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.06);
}

.date__text {
  font: var(--roboto-black-medium);
}

.small__date {
  font: var(--roboto-light-super-small);
}

.news__item-description {
  padding: 24px 20px 26px 30px;
}

.news__title {
  width: 268px;
  margin-bottom: 11px;

  font: var(--roboto-bold-medium);
  color: var(--black);
}

.description {
  position: relative;
  width: 365px;
  font: var(--roboto-regular-small-second);
}

.small__button {
  position: absolute;
  justify-content: center;
  bottom: 100px;
  right: 31px;
  width: 65px;
  height: 65px;

  border: 12px solid var(--bg);
  border-radius: 50%;
  background-color: var(--black);
}